<div class="card">
  <div class="card-head">
    <app-tes *ngIf="!loaded" cWidth="100" cHeight="100" circle="true"></app-tes>
    <img *ngIf="loaded"
         src="/assets/kiki.jpg"
         alt="person">
    <div class="info">
      <app-tes *ngIf="!loaded" cWidth="100"></app-tes>
      <div *ngIf="loaded" class="name"><strong>Muhammad Rizki </strong></div>
      <app-tes *ngIf="!loaded" cWidth="150"></app-tes>
      <div *ngIf="loaded" class="desc">Web Developer</div>
    </div>
  </div>
  <div class="card-body">
    <app-tes *ngIf="!loaded" cWidth="100"></app-tes>
    <strong *ngIf="loaded">About</strong>
    <app-tes *ngIf="!loaded" cWidth="270" cHeight="70"></app-tes>
    <div *ngIf="loaded" class="about">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. In ullam cum mollitia commodi error voluptate ipsam
      tempora unde voluptatum. Accusantium unde asperiores numquam amet debitis voluptate illum corporis! Perferendis,
      debitis.
    </div>
  </div>
</div>
